@import "tailwindcss";


.typing-effect{
    animation: blink 1s steps(1) infinite;
}

@keyframes blink{
    50%{
        color: rgb(82, 79, 79);
        border-color: black;
    }
}

html{
    background-color: #E2C290;
    font: bold;


}

.bobbing{
    animation: bob 1s infinite ease-in-out;
}

@keyframes bob{
    0%, 100% { top: 35.8% }
    50%      { top: 36%; }
}